div.schedule-info-modal {
    min-width: 710px;
    max-width: 60%;
}

.schedule-info-card {
    padding: 2rem;
    margin: 1rem 1rem 1.5rem 1rem;
    width: 100%;
    border: none !important;
    box-shadow: 0 5px 15px rgba(0,0,0,.07), 0 5px 15px rgba(0,0,0,.07);
}