.constraint-row {
    margin-bottom: 1rem;
}

.generate-button {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.select-classes-text {
    margin-bottom: 1rem;
}

.placeholder-favorites {
    margin-bottom: 1rem;
}